<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
<meta charset="UTF-8">
<title>Eventos</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static "js/constants.js"%}"></script>
    <script src="{% static "js/index.js"%}"></script>

</head>

<body>

<h1 style="text-align : center;">Gestion de Eventos</h1>
  {% if sesion %}

    <h2 style="text-align : center;">Sesion iniciada</h2>

    <h3>Eventos </h3>
      <table>
        <tr>
            <th>Nombre de evento</th>
            <th>Fecha de evento</th>
            <th></th>
            <th></th>
        </tr>
        {%for evento in events.all %}
        <tr>
            <td><div class="row">
                <div clas="col-5"> {{ evento.name }} </div>
                <div clas="col-3"> {{ evento.start_date }} </div>
                <div clas="col-2"> <a href="/update/{{evento.id}}"<i class="far fa-edit"></i></a> </div>
                <div clas="col-2"> <div class="delete" todelete="{{evento.id}}"><i class="fas fa-trash-alt"></i></div></div>
            </div></td>
         </tr>
         {% endfor %}
      </table>
      <br><br><br>
      <a href="/create/">Crear Evento</a>
  {% else %}
    <h2 style="text-align : center;">Sesion no iniciada</h2>

    <h3 style="text-align : center;"> Inicio de sesion</h3>

    <form action="" style="text-align : center;" id="login">
        email:<br>
        <input type="text" name="email" id="email">
        <br>
        password:<br>
        <input type="password" name="password" id="password">
        <br><br>
        <input type="submit" value="Enviar"><br><br>
        <a href="/register/"> Registrarse  </a><br><br>
        <a href="//">  Olvido su contrasena?</a><br><br>

    </form>

  {% endif %}

</body>

</html>
