<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
<meta charset="UTF-8">
<title>Eventos</title>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{% static "js/constants.js"%}"></script>
  <script src="{% static "js/modify.js"%}"></script>

</head>

<body>

<h1 style="text-align : center;">Gestion de Eventos</h1>

    <h2 style="text-align : center;">Modificar Evento</h2>

    <h3 style="text-align : center;">Eventos </h3>

      <form action="" style="text-align : center;" id="modifyEventForm">
        nombre:<input type="text" name="name" id="name" value="{{event.name}}">
        <br><br>
        categoria:
        <select id="category">
          {% for cat in categories %}
            <option value="{{cat.id}}" {% if cat.id == event.category.id %} selected {% endif %}>{{cat.name}}</option>
          {% endfor %}
        </select>
        <br><br>
        lugar:<input type="text" name="place" id="place" value="{{event.place}}">
        <br><br>
        direccion:<input type="text" name="address" id="address" value={{event.address}}>
        <br><br>
        Fecha Inicio:<input type="datetime" name="start_date" id="start_date" value={{event.start_date}} >
        <br><br>
        Fecha Final:<input type="datetime" name="end_date" id="end_date" value={{event.finish_date}}>
        <br><br>
        Modalidad:
        <select id="eventType" value={{event.type.id}}>
          {% for t in types %}
            <option value="{{t.id}}" {% if t.id == event.type.id %} selected {% endif %}>{{t.name}}</option>
          {% endfor %}
        </select>
        <br><br>
        <br><br>
        <input type="submit" value="Submit"><br><br>
       </form>

        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

</body>

</html>
